<table class="table table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Year</th>
  </tr>
  </thead>
  <% @breweries.each do |unit| %>
      <tr>
        <td><%= link_to unit.name, unit %></td>
        <td><%= unit.year %></td>
      </tr>
  <% end %>
</table>